@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

//#region Mixins

@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1280px) {
    @content;
  }
}

//#endregion

//#region Animation

@keyframes menu-open {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes menu-close {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

//#endregion

//#region Icon

.icon {
  display: block;
  width: 35px;
  height: 35px;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  transition-duration: 300ms;

  &--menu {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 4;

    &._opener {
      animation: menu-open 300ms;
      background-image: url("../images/icons/menu-opener.svg");
    }
    &._closer {
      animation: menu-close 300ms;
      background-image: url("../images/icons/menu-closer.svg");
    }
  }
}

//#endregion

//#region Button

.button {
  display: block;
  padding: 6px 14px;

  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;

  background-color: #4ba58d;
  border: 1px solid #000;
  border-radius: 5px;

  transition-duration: 300ms;

  &:visited {
    color: #fff;
  }

  &:hover {
    background-color: #fff;
    color: #4ba58d;
  }
}

//#endregion

//#region Page

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: "Montserrat", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }
}

button {
  border: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
    padding: 0;
    background: #fff;
    
    counter-reset: article;

    &._lock {
      overflow: hidden;
    }
  }

  &__title {
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
  }

  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

//#endregion

//#region Header

.header {
  padding: 15px 0;
  &__row {
    @include onDesktop {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__item {

  }

  &__logo {
    display: block;
    width: 132px;
    height: 30px;

    @include onDesktop {
      width: 176px;
      height: 40px;
    }
  }

  &__logo-image {
    height: 100%;
    width: 100%;
  }

  &__menu-button {
    height: 30px;
    width: 30px;

    @include onDesktop {
      display: none;
    }
  }
}

//#endregion

//#region Navigation

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  width: 100%;
  height: 100vh;

  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  transition-duration: 300ms;

  transform: translateY(-100%);

  &._open {
    transform: translateY(0);
  }

  @include onDesktop {
    position: relative;
    transform: translateY(0);
    width: auto;
    height: auto;
    flex-direction: row;
  }

  &__menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;

    @include onDesktop {
      flex-direction: row;
      gap: 20px;
    }

    li {
      text-align: center;
      position: relative;

      @include onDesktop {

        &:not(:first-child) {
          &:before {
            content: "";
            display: block;
            width: 2px;
            height: 100%;

            position: absolute;
            left: -9px;
            top: 0;

            background-color: #000;
          }
        }
      }
    }

    a {
      display: block;
      width: fit-content;

      color: #000;
      font-family: inherit;
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      text-transform: capitalize;

      transition-duration: 300ms;

      &:visited {
        color: #000;
      }

      &:hover {
        color: #4ba58d;
      }
    }
  }

  &__additional-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;

    @include onDesktop {
      flex-direction: row;
      gap: 20px;
    }
  }

  &__login-link {
    display: flex;
    align-items: center;
    gap: 6px;
    position: relative;

    color: #000;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;

    transition-duration: 300ms;

    &::before {
      content: "";
      display: block;
      width: 14px;
      height: 18px;

      background-image: url("../images/icons/green-arrow-right.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    @include onDesktop {
      &::after {
        content: "";
        display: block;
        width: 2px;
        height: 100%;

        position: absolute;
        right: -9px;
        top: 0;

        background-color: #000;
      }
    }

    &:visited {
      color: #000;
    }

    &:hover {
      gap: 8px;
      color: #4ba58d;
    }
  }
}

//#endregion

//#region About-our-collobaration

  .about-our-collaboration {
    padding: 35px 0;

    @include onTablet {
      padding: 45px 0;
    }

    @include onDesktop {
      padding: 74px 0;
    }

    &__title {
      text-align: center;
      color: #000;
      font-family: inherit;
      font-size: 35px;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 16px;
    }

    &__text {
      color: #000;
      text-align: center;
      font-family: inherit;
      font-size: 18px;
      font-weight: 400;
      line-height: normal;
      max-width: 624px;
      margin: 0 auto;
    }
  }

//#endregion

//#region Companies

.companies {
  padding: 46px 0;
  background-image: url("../images/bacground-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  margin-bottom: 50px;

  @include onDesktop {
    padding: 58px 0 72px;
    margin-bottom: 86px;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;

    z-index: 1;
  }

  &__row {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    @include onTablet {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      gap: 30px;
    }

    @include onDesktop {
      gap: 50px;
    }
  }

  &__item {
    &:nth-child(2) {
      img {
        display: block;
        width: 60px;
        height: 50px;
      }
      @include onTablet {
        height: 130px;
        display: flex;
        align-items: center;
      }
    }
  }

  &__sub-row {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 396px;
    
    &:first-child {
      flex-direction: column-reverse;

      @include onTablet {
        flex-direction: column;
      }
    }

    &:last-child {
      flex-direction: column;
    }
  }

  &__sub-item {

  }

  &__image-box {
    background-color: #fff;
    width: 290px;
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    @include onTablet {
      width: 100%;
      height: 130px;
    }

    img {
      width: 70%;
    }
  }

  &__text-box {

  }

  &__text {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }
}

//#endregion

//#region Impact

.impact {
  margin-bottom: 120px;
  &__title {
    color: #000;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
  }

  &__text {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;

    max-width: 535px;
    margin: 0 auto 35px;
  }

  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    @include onTablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      
    }
  }

  &__item {
    padding: 22px;
    border: 1px solid #C5CED1;
    background-color: #ECEEEF;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
    max-width: 350px;
    transition-duration: 300ms;

    &:hover {
      background-color: #fff;
      cursor: pointer;
      box-shadow: 10px 10px 0 #000;
    }
  }

  &__icon-box {
    width: 60px;
    height: 50px;
    position: relative;
    margin-bottom: 20px;
  }

  &__icon {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__item-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
  }

  &__item-text {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;

  }
}

//#endregion
